

/* Index */

/* โครงสร้าง Flexbox แบ่ง Sidebar และ Content */
body {
  display: flex;
  height: 100vh;
  margin: 0;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;  /* Adjust based on your sidebar width */
  height: 100vh;
  text-align: left;
  overflow-y: auto;
  cursor: pointer;
}

/* Content */
.content {
  margin-left: 300px; /* ระยะห่างจากด้านซ้ายเท่ากับความกว้าง Sidebar */
  height: 100vh; /* เต็มความสูงของหน้าจอ */
  overflow-y: auto; /* เลื่อนเฉพาะแนวตั้งได้ */
  overflow-x: hidden; /* ปิดการเลื่อนแนวนอน */
  padding: 20px; /* ระยะห่างภายใน */
  cursor: pointer;
}

