body {
    font-family: Arial, sans-serif;
}

#content-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    gap: 20px; 
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
    display: inline-block;
    text-align: right;
}

.form-group input {
    flex: 1;
}

.name-title-group {
    display: flex;
    gap: 20px;
}

.project-category-group {
    display: flex;
    gap: 20px;
}

.topic-group {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.topic-group label {
    width: 150px;
    display: inline-block;
    text-align: right;
}

.topic-group input {
    flex: 1;
}

.subsub-order-group {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.subsub-order-group label {
    width: 150px;
    display: inline-block;
    text-align: right;
}

.subsub-order-group input {
    flex: 1;
}


.topic-group {
    grid-column: 1 / -1;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.topic-select {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    height: 30px;
    background-color: #fff;
}

.input-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    width: 200px;
    text-align: left;
    cursor: text;
}
