header {
    background-color: #356faa;
    padding: 7px 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;    
    height: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;

}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto !important;}

.nav-item {
    display: inline-block;
}

.navbar-navLeft {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: auto; 
}


.nav-link {
    color: #ffffff !important;
    text-decoration: none !important;
    font-size: 1rem !important;
    padding: 8px 15px !important;
    transition: background 0.3s ease-in-out !important;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.356);
    border-radius: 5px;
}


.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    top: 100%;
    right: 0;
    padding: 10px 20px;
    min-width: 150px;
    z-index: 1000;
}

.dropdown-menu .dropdown-item {
    display: block;
    padding: 10px 20px;
    color: #050505;
    text-decoration: none;
    transition: background 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    background: #007bff;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
/* .sidebar {
    margin-top: 100px;
}
.content-area {
    margin-top: 100px;
} */
.sidebar, .content-area {
    padding-top: 0px;
}
