header {
    padding: 0 0;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto !important;}

.nav-item {
    display: inline-block;
}

.navbar-navLeft {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: auto; 
}


.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 15px;
    transition: background 0.3s ease-in-out;
}

.nav-link:hover {
    background: rgba(0, 123, 255, 0.2);
    border-radius: 5px;
}


.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    top: 100%;
    right: 0;
    padding: 10px 20px;
    min-width: 150px;
    z-index: 1000;
}

.dropdown-menu .dropdown-item {
    display: block;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    transition: background 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    background: #007bff;
    color: #ffffff;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.sidebar {
    margin-top: 120px;
}
.content-area {
    margin-top: 110px;
}