body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

.sidebar {
    margin-top: 100px;
    width: 300px;
    height: auto;
    background-color: #0f62ba;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    font-family: Arial, sans-serif;
    border-right: 1px solid #ccc;
}
.content-area {
    margin-top: 100px;
    max-width: auto;
    width: auto;
    flex-grow: 1;
    height: auto;
    padding: 20px;
    overflow-y: auto;
    flex: 1;
}

.topic {
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    /* background-color: #f0f0f0; */
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic:hover {
    background-color: #3979b1;
}

.sub-container, .sub-sub-container, .sub-sub-sub-container {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
}

.sub-topic {
    /* background: #eee; */
    border-radius: 5px;
    padding: 8px;
}

.sub-sub-topic {
    /* background: #f9f9f9; */
    margin-left: 10px;
    padding: 8px;
    border-radius: 5px;
}
.sub-sub-sub-topic {
    margin-left: 20px;
    font-size: 1em;
}
.active-topic {
    background-color: #5e90d1;
    font-weight: bold;
}

.show {
    display: block !important;
}




