body {
    font-family: 'Sarabun', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

.sidebar {
    width: 310px;
    height: 570px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    font-family: Arial, sans-serif;
    border-right: 1px solid #ccc;
}

.content-area {
    flex-grow: 1;
    height: 570px;
    margin: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

.topic {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic:hover {
    background-color: #ddd;
}

.sub-container, .sub-sub-container, .sub-sub-sub-container {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
}

.sub-topic {
    background: #eee;
    border-radius: 5px;
    padding: 8px;
}

.sub-sub-topic {
    background: #f9f9f9;
    margin-left: 10px;
    padding: 8px;
    border-radius: 5px;
}
.sub-sub-sub-topic {
    margin-left: 20px;
    font-size: 1em;
}
.active-topic {
    background-color: #e0e0e0;
    font-weight: bold;
}

.show {
    display: block !important;
}